originalcss.css

.container {

  position: relative;

  margin: 20px auto;
  margin-top: 100px;
  width: 600px;
  padding: 20px 20px 20px 20px;
  border: 1px solid gray;
}

.recent_log{
  margin: 20px auto;

  width: 300px;
  padding: 20px 0px 20px 20px;
  border: 1px solid gray;
  margin-left: 10px;
  }


 .nav_bar {
  z-index: 1;
  background-color: black;
  height: 80px;
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
}

.nav_bar li {
  display: inline;
}

.nav_bar a {
  color: blue;
  text-decoration: none;
  font-family: Tahoma;
}

.nav_bar a:hover {
  color: #0000CC
}

.nav-link {
  position: relative;
  top: 26px;
}
.align-left {
  padding-left: 20px;
}
.align-right {
  float: right;
  padding-right: 20px;
}

.align-center {
  float: center;
  padding-left: 300px;
}

.align-left {
  padding-left: 20px;

}

.title {
  font-size: 24px;
  /*position: relative;*/
  bottom: 18px;

}

#footer{
position: fixed;
bottom: 0px;
background-color: black;
width: 100%;
}

#footer section{
  color: white;
  text-align: center;
  font: tahoma;
  font-size: 17px;
  padding-top: 5px;
  padding-bottom: 5px;
}
