<div class="container">
  <div class="row">
    <div class="col-lg-2"></div><!-- left page spacing using columns-->

    <div class="col-lg-8"><!-- main content space on page using columns-->
      <div class="page-header">
        <h2 id="forms">Share your latest favorites for others to hear</h2>
      </div>

      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title"> Search Posts</h3>
        </div><!-- end of class="panel-heading" -->

        <div class="panel-body">
          <%= form_for :post, :url => { :action => "search", :controller => 'posts'}, :html => { :method => "get" } do |f| %>
          <%= f.label :search %>
          <%= f.text_field :search %>

          <%=f.submit "Search Posts"%>
          <% end %>
        </div><!-- end of class="panel-body" -->
      </div><!-- end of class="panel panel-info" -->

    </div><!-- end of "col-lg-8"-->

    <div class="col-lg-2"></div><!-- right hand spacing-->

  </div><!-- end of class="row"-->

  <div class="row">
    <div class="col-lg-2">
    </div>

    <div class="col-lg-8">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <h3 class="panel-title">Explore the latest posts in the feed:</h3>
        </div><!-- end of class="panel-heading" -->

        <div class="panel-body">
          <div id="recent_log">
          </div>
        </div><!-- end of class="panel-body" -->
      </div><!-- end of class="panel panel-warning" -->
    </div><!-- end of class="col-lg-8" -->

    <div class="col-lg-2">
    </div>
  </div>  <!-- end of class="row"-->

  <div class="row">
    <div class="col-lg-2">
    </div>

    <div class="col-lg-8">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title">Search for posts by musical category</h3>
        </div><!-- end of class="panel-heading" -->

        <div class="panel-body">
          WE NEED CONTENT HERE!
        </div><!-- end of class="panel-body" -->
      </div><!-- end of class="panel panel-warning" -->
    </div><!-- end of class="col-lg-8" -->

    <div class="col-lg-2">
    </div>
  </div>  <!-- end of class="row"-->

</div><!-- end of class="container"-->

  <script type="text/javascript">
      $(document).ready(function() {
        var pingAfter = 2000;
        var refreshId = setInterval(function() {

            $.get('/posts/refresh', function(response) {
              $("#recent_log").html(response);
            });
        }, pingAfter);
    });

  </script>





