<html>
<head>  
  <script type="text/javascript">  
      $(document).ready(function() {
        var pingAfter = 2000;  
        var refreshId = setInterval(function() {

            $.get('/posts/refresh', function(response) {
              $("#recent_log").html(response);
            });
        }, pingAfter);
    });
  </script>  
</head>  

<div class="container">
<h2> Share your latest favorites for others to hear</h2>
<%= form_for :post, :url => { :action => "search", :controller => 'posts'}, :html => { :method => "get" } do |f| %>
<%= f.label :search %>
<%= f.text_field :search %> 
<br>
<%=f.submit "Search Posts", :id => "search"%>
<% end %> 

<h2> Search Posts</h2>

<br>
<br>
<h4>Latest Post Feed:</h4>

<div id="recent_log"> 
  
</div>
<h2> Search By Category</h2>


</div>

</html>

